body {
  background-color: purple;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 2rem;
}

.conteudo {
  text-align: center;
}

.titulo {
  font-size: 3rem;
}

.texto {
  color: white;
  line-height: 1.33;
  max-width: 130ch;
  padding: 20px 80px;
}
.botao-conteudo {
  padding-top: 40px;
}

.botao {
  padding: 16px 32px;
  background-color: #a020f0;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font: 600 1.125rem/1.35 "arial";
  max-width: max-content;
}

.botao:hover {
  background-color: #4B0082;
}
